doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="/javascripts/main.js")
  body(id="iframe")
    div(id="navi")
      ul
        li aaaaa
        li bbbbb
        li ccccc
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test

